html,body{
  background: linear-gradient(0deg, rgba(254,255,170,1) 0%, rgba(252,123,123,1) 100%);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.glass{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  background: linear-gradient(
    to right bottom,
    rgba(255,255,255,0.3) 0%,
    rgba(255,255,255,0.4) 100%);
  min-height: 60vh;
  width: 90vh;
  border-radius: 2rem;
}
.text {
  color: black;
  height: 100%;
  width: 90%;
  font-family: 'Jaldi', sans-serif;
  font-size: 13pt;
}
