body {
  margin:0;
  padding:0;
  height: 100vh;
  background: #dec4ad;
  display: flex;
  justify-content: center;
  align-items: center;
}


main{
  display: grid;
  height: 80vh;
  width: 120vh;
  margin: 2vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 1rem;
}

div{
  display: flex;
  justify-content: center;
  align-items: center;
}
