body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 120vh;
    width: 100vw;
    margin: 12.5vw;
    border-top: 1px solid black;
    border-left: 1px solid black;
  }

  div {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
  }

  .h2 {
    grid-row-end: span 2;
  }

  .text {
    font-family: "ipag", monospace;
    padding: 20px;
  }
