* {
  margin: 0 auto;
  padding: 0;
  justify-content: center;
  align-items: center;
  font-family: 'Epilogue', sans-serif;
}

body {
  background-color: lightgray;
  height: 96vh;
  width: 96vw;
}

main.homepage {
  /*border: 2px solid blue*/
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 400%;
  font-weight: 500;
  color: white;
}

.title {
  /* border: 2px solid red;*/
  padding-bottom: 10vw;
}

.nav {
  /*border: 2px solid blue;*/
  width: 100%;
  text-align: center;
}

.nav li {
  display: inline;
  width: 5vw;
}

.nav a {
  display: inline-block;
  padding: 1vw;
  margin: 0vw 1vw 0vw 1vw;
}

.button {
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-radius: 5vw;
  color: blue;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 10vw;
}

.button:hover {
  background-color: yellow;
  transition: background 1s ease;
}
