@import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre&display=swap");


html {
  background-color: #599;
}
body {
  text-align: center;
  color: white;
  margin: 0;
  padding: 1rem;
}

h1 {
  font-family: "Abhaya Libre", serif;
  font-size: 30pt;
  color: #f4ee90;
}

h3 {
  font-family: "Abhaya Libre", serif;
  font-size: 14pt;
  color: #f4ee90;
}

div {
  font-family: "Abhaya Libre", serif;
  font-size: 13pt;
  margin-top: 100px;
  margin-bottom: 100px;
}
