* {
    margin: 0;
  }

  body {
    background-color: yellow;
  }

  main {
    display: flex;
    flex-wrap: wrap;
  }

  div {
    height: 50vh;
  }
  .w1 {
    width: 5%;
  }
  .w2 {
    width: 10%;
  }
  .w3 {
    width: 15%;
  }
  .w4 {
    width: 20%;
  }

  .blue {
    background-color: #00008b;
  }
  .azure {
    background-color: #5f9ea0;
  }
  .red {
    background-color: #b22222;
  }
  .yellow {
    background-color: #ffd700;
  }
