@import 'reset';
@import 'mixins';

html {
	font-size: 18px;
	@include regular;
}
:root {
	--background: #{$black};
	--color: #{$white};
	--header-height: 3.4rem;
}
body {
	background-color: var(--background);
	color: var(--color);
	@include normal;
}
#svelte {
	height: 100vh;
	display: flex;
	flex-direction: column;
}

::selection {
	background: $green;
	color: $yellow;
}

@import 'helpers';
@import 'markdown';
@import 'highlights';
