@import 'reset';
@import 'mixins';

html {
	font-size: 18px;
	@include regular;
}
body {
	background-color: $white;
	color: $black;
	@include normal;
}
#svelte {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	> main {
		flex: 1;
	}
}

::selection {
	background: $violet;
	color: $yellow;
}

@import 'helpers';
@import 'markdown';
